/* General style rules */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: lightblue;
    margin: 0;
}

h1, h3 {
    text-align: center;
}

img {
    display: block;
    margin: 0 auto 0 auto;
    width: 30%;
}

td {
    vertical-align: top;
}

/* Header*/
header {
    text-align: center;
}

/* Style for links */
a:visited, a:link {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Main Content */
main {
    width: 100vw;
    height: 120vh;
}

#main-content {
    text-align: center;
}

#adress {
    text-align: center;
}

#times {
    border: 0;
    margin: 10px auto 0 auto;
    text-align: center;
    background-color: #000000;
    color: #ffffff;
}

/* About page */
#about {
    margin: 0 auto 0 auto;
}

#about > a {
    color: #ffffff;
}

/* Contact page */
#form {
    margin: 0 auto 0 auto;
}

/* Footer */
footer {
    position: fixed;
    bottom: 40px;
    width: 100vw;
    height: 10vh;
}

#social-networks {
    text-align: center;
    position: relative;
}

#social-networks i {
    font-size: 400%;
}